* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  width: 100vw;
}
a {
  text-decoration: none;
  color: black;
}
h2 {
  font-weight: 500;
}
.w3c-hidden {
  display: none;
}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  background-color: #fff;
  padding-bottom: 5px;
  margin-top: 15px;
  width: 100vw;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0px 4px 4px #cacaca;
  box-shadow: 0px 4px 4px #cacaca;
}
.logo__img {
  height: 30px;
}
.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100vw;
  height: 6vh;
  z-index: -1;
  background-color: #eaeaea;
}
.location__icon {
  font-size: 16px;
  color: #4b4b4b;
}
.location__input {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-style: none;
  background-color: #eaeaea;
  font-size: 16px;
  max-width: 30vw;
  outline: none;
  margin-left: 10px;
}
.book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  width: 100vw;
  padding-top: 35px;
  background-color: #f5f5f5;
}
.book__heading {
  margin-bottom: 25px;
}
.book__paragraph {
  text-align: center;
  width: 60%;
  font-weight: 400;
  color: #7e7e7e;
}
.book__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 60vw;
  height: 50px;
  margin: 30px auto 40px;
  padding: 0px 15px 0px 15px;
  color: #fff;
  border-radius: 25px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.book__btn--gradient {
  background-image: -webkit-gradient(
    linear,
    right bottom,
    left top,
    from(#9356dc),
    to(#ff79da)
  );
  background-image: linear-gradient(to top left, #9356dc, #ff79da);
}
.book__btn:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-image: -webkit-gradient(
    linear,
    right bottom,
    left top,
    from(#a16be0),
    to(#ff93e1)
  );
  background-image: linear-gradient(to top left, #a16be0, #ff93e1);
}
.guide {
  margin: 50px auto;
  width: 90vw;
}
.guide__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  padding: 30px 0 20px;
  margin: 30px 0px 10px 10px;
  border-radius: 20px;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0px 4px 10px #d7d7d7;
  box-shadow: 0px 4px 10px #d7d7d7;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.guide__step:hover {
  background-color: #f2eafb;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-box-shadow: 0px 5px 20px #d7d7d7;
  box-shadow: 0px 5px 20px #d7d7d7;
}
.guide__step:hover .guide__icon {
  color: #9356dc;
}
.guide__paragraph {
  font-weight: 400;
}
.guide__paragraph--style {
  border-radius: 50%;
  padding: 3px 8px;
  margin-left: -12px;
  color: #fff;
  background-color: #9356dc;
}
.guide__icon {
  margin: 0px 20px;
  font-size: 22px;
  line-height: 20px;
  color: #7e7e7e;
}
#restaurants {
  background-color: #f5f5f5;
  padding: 35px 5vw 50px;
  padding-bottom: 80px;
}
.rest {
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  margin-top: 30px;
  -webkit-box-shadow: 0px 0px 20px #b1b1b1;
  box-shadow: 0px 0px 20px #b1b1b1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.rest:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 20px #99e2d0;
  box-shadow: 0px 0px 20px #99e2d0;
}
.rest__graphic .photo1 {
  height: 40vw;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-image: url("../images/full-palette.jpg");
}
.rest__graphic .photo2 {
  height: 40vw;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-image: url("../images/the-enchanted-plate.jpg");
}
.rest__graphic .photo3 {
  height: 40vw;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-image: url("../images/bastille.jpg");
}
.rest__graphic .photo4 {
  height: 40vw;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-image: url("../images/la gourmand.jpg");
}
.rest__new {
  position: absolute;
  margin-top: -38vw;
  left: 74%;
  width: 20vw;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  border-radius: 2px;
  color: #278870;
  background-color: #99e2d0;
}
.rest__new--display {
  display: none;
}
.rest__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 25px;
  background-color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.rest__info .rest__name {
  margin: 15px;
}
.rest__info .rest__name .rest__header {
  margin-bottom: 5px;
}
.rest__info .rest__name .rest__paragraph {
  font-size: 18px;
  font-weight: 300;
}
.rest__like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.rest__like .h_gone {
  font-size: 24px;
  z-index: 2;
}
.rest__like .h_gone:active {
  display: none;
  z-index: -2;
}
.rest__like .h_gone:active + .h_here {
  z-index: 2;
  -webkit-animation-name: heart;
  animation-name: heart;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.rest__like .h_here {
  position: relative;
  z-index: -2;
  background: linear-gradient(130deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  margin-left: -24px;
}
@-webkit-keyframes heart {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes heart {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.foot {
  background-color: #313131;
  padding: 20px 5vw 30px;
}
.foot__link {
  font-family: "Shrikhand", cursive;
  color: #fff;
}
.foot__list {
  margin-top: 15px;
}
.foot__list li {
  margin-top: 8px;
}
.foot__list * {
  list-style: none;
  color: #fff;
}
.foot__listLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.foot__listLogo a {
  font-weight: 400;
}
.foot__listLogo .fas {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 13px;
  line-height: 1px;
  width: 10px;
  margin-right: 15px;
}
.foot__listItem {
  font-size: 16px;
}
.foot__listItem a {
  font-weight: 300;
}
#head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
#head .header__text {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  margin-bottom: 5px;
}
#head .header__icon {
  position: absolute;
  margin-top: 10px;
  left: 20px;
  font-size: 20px;
}
.main__image {
  height: 40vh;
  background-position: center;
  background-size: cover;
}
.main__image1 {
  background-image: url("../images/full-palette.jpg");
}
.main__image2 {
  background-image: url("../images/the-enchanted-plate.jpg");
}
.main__image3 {
  background-image: url("../images/bastille.jpg");
}
.main__image4 {
  background-image: url("../images/la gourmand.jpg");
}
.menu {
  background-color: #f5f5f5;
  margin-top: -50px;
  padding: 40px 5vw 30px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}
.menu .menu__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 25px;
}
.menu .menu__name .rest__like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.menu .menu__name .rest__like .h_gone {
  font-size: 24px;
  z-index: 2;
}
.menu .menu__name .rest__like .h_gone:hover {
  cursor: pointer;
}
.menu .menu__name .rest__like .h_gone:active {
  display: none;
  z-index: -2;
}
.menu .menu__name .rest__like .h_gone:active + .h_here {
  z-index: 2;
  -webkit-animation-name: heart;
  animation-name: heart;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.menu h1 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  font-weight: 300;
}
.menu .rest__heart {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.menu .slideFromLeft {
  -webkit-animation: 1.3s ease-out 0s 1 slideFromLeft;
  animation: 1.3s ease-out 0s 1 slideFromLeft;
}
.menu__section {
  margin-bottom: 30px;
}
.menu__section .slideFromLeft {
  -webkit-animation: 1.3s ease-out 0s 1 slideFromLeft;
  animation: 1.3s ease-out 0s 1 slideFromLeft;
}
.menu__section h2 {
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 10px;
}
.menu__section h2 span {
  padding-bottom: 5px;
}
.menu .underline {
  border-bottom: 3px solid #99e2d0;
}
@-webkit-keyframes slideFromLeft {
  0% {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@keyframes slideFromLeft {
  0% {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
.dish__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 15px;
  padding-left: 15px;
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 10px #c9c9c9;
  box-shadow: 0px 2px 10px #c9c9c9;
  -webkit-animation: 1.3s ease-out 0s 1 slideFromRight;
  animation: 1.3s ease-out 0s 1 slideFromRight;
}
.dish__container h3 {
  width: 110%;
  font-weight: 500;
  margin: 10px 0px 5px 0px;
}
.dish__container p {
  color: #313131;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 10px;
}
.dish__container .dish__name {
  width: 50vw;
}
.dish__container .dish__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-right: 10px;
}
.dish__container .dish__price p {
  font-weight: 500;
}
.dish__container .dish__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #99e2d0;
  display: none;
}
.dish__container .dish__add .fas {
  color: white;
  font-size: 30px;
}
.dish__container:hover .truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish__container:hover .dish__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-animation-name: dishAdded;
  animation-name: dishAdded;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.dish__container:hover .dish__add .fas {
  -webkit-animation: 0.3s linear 0s rotateIcon;
  animation: 0.3s linear 0s rotateIcon;
}
@-webkit-keyframes slideFromRight {
  0% {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@keyframes slideFromRight {
  0% {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes dishAdded {
  0% {
    width: 0px;
  }
  50% {
    width: 15%;
  }
  100% {
    width: 25%;
  }
}
@keyframes dishAdded {
  0% {
    width: 0px;
  }
  50% {
    width: 15%;
  }
  100% {
    width: 25%;
  }
}
@-webkit-keyframes rotateIcon {
  0% {
    -webkit-transform: rotate(-270deg);
    transform: rotate(-270deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes rotateIcon {
  0% {
    -webkit-transform: rotate(-270deg);
    transform: rotate(-270deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@media screen and (min-width: 767px) {
  #head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    width: 100vw;
    margin-top: 15px;
  }
  .logo {
    width: 30%;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .location {
    width: 100%;
    margin-left: 13%;
    margin-right: 0;
    padding-bottom: 5px;
    background-color: #fff;
  }
  .location__input {
    background-color: #fff;
  }
  .book {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 20vh;
    width: 90vw;
    border-radius: 20px;
  }
  .book__heading {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 60%;
    margin: 0 5vw 0 2vw;
    text-align: center;
  }
  .book__paragraph {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 50%;
    padding-left: 2.5vw;
    margin-left: 5vw;
    text-align: center;
  }
  .book__btn1 {
    min-width: 20%;
    max-width: 30%;
    height: 10vh;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    margin-top: -4vh;
    margin-right: 13vw;
  }
  .guide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 90vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: #f5f5f5;
    border-radius: 20px;
  }
  .guide h2 {
    text-align: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .guide__box {
    width: 25%;
    padding-bottom: 2vh;
  }
  #restaurants {
    width: 90vw;
    margin-left: 5vw;
    border-radius: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1vh 35vh 35vh;
    grid-template-rows: 1vh 35vh 35vh;
    grid-gap: 2vw;
    row-gap: 4vh;
  }
  h2 {
    grid-column: 1/-1;
  }
  .rest .photo1 {
    height: 25vh;
  }
  .rest .photo2 {
    height: 25vh;
  }
  .rest .photo3 {
    height: 25vh;
  }
  .rest .photo4 {
    height: 25vh;
  }
  .rest__new {
    position: fixed;
    margin: 0;
    width: 15%;
    margin-top: -23vh;
  }
  .main__image {
    height: 25vh;
  }
  .menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30vw 30vw 30vw;
    grid-template-columns: 30vw 30vw 30vw;
    -ms-grid-rows: 5vh 50vh;
    grid-template-rows: 5vh 50vh;
    row-gap: 2vh;
  }
  .menu__name {
    grid-column: 1/-1;
  }
  .menu__section {
    padding: 10px;
  }
  .menu__section--overflow {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .menu .book__btn2 {
    margin-top: -3vh;
    grid-column: 1/-1;
  }
  .dish__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 15px;
    padding-left: 15px;
    border-radius: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 10px #c9c9c9;
    box-shadow: 0px 2px 10px #c9c9c9;
    -webkit-animation: 1.3s ease-out 0s 1 slideFromRight;
    animation: 1.3s ease-out 0s 1 slideFromRight;
  }
  .dish__container h3 {
    font-weight: 500;
    margin: 10px 0px 5px 0px;
  }
  .dish__container .dish__name {
    width: 70%;
  }
  .dish__container .dish__name h3 {
    width: 70%;
  }
}
.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  margin-top: -15px;
  background-color: #313131;
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes fade {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@keyframes fade {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
.primary-circle {
  width: 150px;
  height: 150px;
  border: 4px solid #9356dc;
  border-top: 4px solid transparent;
  border-radius: 50%;
  -webkit-animation: rotate 1.5s infinite;
  animation: rotate 1.5s infinite;
}
.secondary-circle {
  -webkit-animation: rotate 1.5s infinite 0.1s;
  animation: rotate 1.5s infinite 0.1s;
  width: 120px;
  height: 120px;
  border: 4px solid #ff79da;
  border-top: 4px solid transparent;
  border-radius: 50%;
  position: absolute;
}
.tertiary-circle {
  -webkit-animation: rotate 1.5s infinite 0.2s;
  animation: rotate 1.5s infinite 0.2s;
  position: absolute;
  width: 80px;
  height: 80px;
  border: 4px solid #99e2d0;
  border-top: 4px solid transparent;
  border-radius: 50%;
}
@-webkit-keyframes rotate {
  from {
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
